doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='icon', href='https://jysperm.me/avatars/v5.png')
      link(rel='stylesheet', href='/styles.css')
      if page.title
        title #{page.title} | #{config.title}
      else
        title= config.title
  body
    header.masthead
      .container
        a.masthead-logo(href='/') 精子粉丝团
        nav.masthead-nav
          a(href='/members') 粉丝成员
          a(href='/faq') FAQ
          a(href='/qun') QQ 群
          a(href='/history') 黑历史

    .container
      block container
        .columns
          .block-body.column.three-fourths
            article
              .markdown-body!= page.content

            if page.comments
              #disqus_thread

          .block-sidebar.column.one-fourth
            block sidebar
              .widget
                p
                  | 本站源代码托管于 &nbsp;
                  a(href='https://github.com/jysperm/jybox.net', target='_blank') GitHub
                  | ,&nbsp; 页面最后生成于 #{date(Date.now(), 'YYYY-MM-DD')}.

    if page.comments
      script.
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//jybox.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

    script.
      Array.prototype.forEach.call(document.querySelectorAll('.masthead-nav a'), function(element) {
        if (element.getAttribute('href') === location.pathname) {
          element.classList.add('active');
        }
      });
