extends base

block container
  .columns
    .sidebar.column.one-fourth
      img.avatar(src='https://jysperm.me/avatars/v5.png', height='230', width='230')
      .card.about
        h2 关于精子
        ul
          li 精子生于 1995 年
          li 精子现居江苏苏州
          li 精子目前工作于 LeanCloud
      .card.follow
        h2 关注精子
        ul
          li 
            a(href='https://jysperm.me') 博客
          li
            a(href='http://www.zhihu.com/people/jysperm') 知乎
          li
            a(href='https://github.com/jysperm') GitHub
          li
            a(href='https://twitter.com/jysperm') Twitter
          li
            a(href='http://segmentfault.com/u/jysperm') SegmentFault
      .card
        p
          | 本站源代码托管于 &nbsp;
          a(href='https://github.com/jysperm/jybox.net', target='_blank') GitHub
          | ,&nbsp; 页面最后生成于 #{date(Date.now(), 'YYYY-MM-DD')}.

    .column.three-fourths
      .columns
        .column.single-column
          h2 精子的近期动态
          
      .columns
        .blogs.column.one-half
          .boxed-group
            h3 日志
            ul.boxed-group-inner.mini-repo-list
              for blog in site.blogs
                li
                  a(target='_blank', href=blog.url).mini-repo-list-item= blog.title
        .tweets.column.one-half
          .boxed-group
            h3 碎语
            ul.boxed-group-inner.mini-repo-list
              for tweet in site.tweets.slice(0, 3)
                li.mini-repo-list-item
                  a(href=tweet.twitter)= moment(tweet.createdAt).fromNow()
                  span= tweet.content

      .columns
        .column.single-column
          a(href='/contributing').right.small 如何提交我的印象？
          h2 来自粉丝们的印象
          
          for comment in site.data.comments
            div.timeline-comment-wrapper
              img.avatar(src=avatarUrlOfMember(comment.by), height='48', width='48')
              .timeline-comment
                div.timeline-comment-header
                  .timeline-comment-header-text
                    strong= comment.by
                    = comment.title
                div.comment-content  
                  .comment-body= comment.comment
