extends layout

block header
  title 粉丝成员 | 精子粉丝团
  link(rel='stylesheet', href='/style/members.css')

block body
  for member in members
    .row.row-member.clearfix(id=member.name.ascii)
      .col-md-4
        img(src='#{member.avatar_url}?s=256')
      .col-md-8
        h2
          = member.name.display
          for name in member.other_names
            small= name
        if member.email
          span.inline
            span.glyphicon.glyphicon-envelope
            = member.email
        if member.blog
          span.inline
            span.glyphicon.glyphicon-bookmark
            a(href=member.blog)= member.blog_domain
        .row
          .col-md-3
            ul
              if member.age
                li(title='年龄')
                  span.glyphicon.glyphicon-user
                  span(title=member.profile.birthday)= member.age
                  = value
              if member.profile
                each value, key in member.profile
                  if key == 'company'
                    li(title='公司')
                      span.glyphicon.glyphicon-briefcase
                      if value.url
                        a(href=value.url)= value.name
                      else
                        = value.name
                  else if key == 'school'
                    li(title=' 学校')
                      span.glyphicon.glyphicon-book
                      = value
                  else if key == 'location'
                    li(title='位置')
                      span.glyphicon.glyphicon-home
                      = value
                  else if key == 'girl'
                    li(title='萌妹纸')
                      span.glyphicon.glyphicon-ok
                      | 萌妹纸
          .col-md-5
            ul
              if member.sns
                each value, key in member.sns
                  if key == 'github'
                    li
                      a(href='https://github.com/#{value}')= value
                      | &nbsp; @ Github
                  else if key == 'v2ex'
                    li
                      a(href='https://www.v2ex.com/member/#{value}')= value
                      | &nbsp; @ V2EX
                  else if key == 'twitter'
                    li
                      a(href='https://twitter.com/#{value}')= value
                      | &nbsp; @ Twitter
                  else if key == 'keybase'
                    li
                      a(href='https://keybase.io/#{value}')= value
                      | &nbsp; @ Keybase
                  else if key == 'segmentfault'
                    li
                      a(href='http://segmentfault.com/u/#{value}')= value
                      | &nbsp; @ SegmentFault
                  else if key == 'qq'
                    li
                      | QQ &nbsp;
                      span= value
                  else if key == 'zhihu'
                    li
                      a(href='http://www.zhihu.com/people/#{value}')= value
                      | &nbsp; 在知乎
                  else if key == 'douban'
                    li
                      a(href='http://www.douban.com/people/#{value}')= value
                      | &nbsp; 在豆瓣
                  else if key == 'guokr'
                    li
                      a(href='http://www.guokr.com/i/#{value.id}/')= value.name
                      | &nbsp; 在果壳
                  else if key == 'bitcoin'
                    li
                      a(href='https://blockchain.info/address/#{value}', title=value) Bitcoin Address

          .col-md-4
            ul
              if member.websites
                for website in member.websites
                  li
                    span.glyphicon.glyphicon-send
                    a(href=website.url)= website.name

        .row
          if member.skill
            table.table-condensed
              tbody
                for skill in member.skill_array
                  tr
                    td= skill.name
                    td
                      .progress
                        .progress-bar.progress-bar-success(aria-valuenow=skill.per, aria-valuemin='0', aria-valuemax='100' style='width: #{skill.per}%;')
                          span= skill.value

prepend sidebar
  .row(style='font-size: 95%;')
    :markdown
      ## 如何提交资料？
      请 fork 本站位于 [Github](https://github.com/jysperm/jybox.net) 的源代码，将自己的信息写入 `members.coffee`, 然后发起 Pull Request 即可。其中技能部分以自己最擅长的技术为基准（1）。
